/* Font used in the headlines: font-family: 'Montserrat', sans-serif; */
/* Font used in other cases: font-family: 'Roboto Slab', serif; */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 300vh;
    background-color: white;
    font-family: 'Roboto Slab', serif;
    --pistachio-green: #7CC576;
    --light-gray:#777777;
}
h1, h2, h3, h4, h5, h6, button{
    font-family: 'Montserrat', sans-serif;
}

/* Navigation */

nav{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 15vh;
    background-color: whitesmoke;
} 

nav .container{
    width: 75%;
    margin: 0 auto;
    padding: 40px;
}

nav .circle{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--pistachio-green);
}

nav .logo{
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

nav ul{
    float: right;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

nav ul:after{
    clear:both;
}

nav ul li{
    display: inline-block;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 150%;
}


nav ul li a{
    text-decoration: none;
    color: var(--light-gray);
}

nav i.fa-bars{
    display:none;
    float:right;
    color: var(--light-gray);
    font-size: 24px;
}
nav i.fa::after{
    clear:both;
}

nav ul li:hover a, nav i:hover{
    font-weight: 700;
    color: black;
}

nav ul.extended {
    display: block;
    float:none;
    text-align: right;
    padding-top: 20px;
    background-color:whitesmoke;
}

nav ul li.extended{
    display:block;
    line-height: 200%;
    padding: 10px 20px;
    
}

/* Header */

header{
    height: 80vh;
    width: 100%;
    /* position: absolute;
    top: 108px; */
    padding-top:108px;
    background-image: url("img/Transparency\ Layer.png"), url("img/Background-2.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header h1{
    width:60%;
    margin: 60px auto 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    font-size: 60px;
}

header p{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 20px;
}


.btn{
    width: 200px;
    height: 60px;
    outline: none;
    border: 2px solid var(--pistachio-green);
    border-radius: 30px;
    text-align: center;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--pistachio-green);
}


.btn:hover{
    cursor: pointer;
    border: 2px solid var(--pistachio-green);
    color: white;
    background-color:var(--pistachio-green);
    /* transform: scale(1.05); */
}
header .btn{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* Services section */

.services{
    width: 100%;
    height: 65vh;
    background-color: white;
}
.services .container{
    width:90%;
    height: 100%;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.services h2{
    margin: 10px auto;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.services p{
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--light-gray);
    text-align: center;
}

.services .tile{
    display: inline-block;
    width: 33%;
    padding: 20px;
    text-align: center;
}

.services .tile h3{
    margin: 25px 0 15px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.services .tile p{
    font-size: 14px;
    line-height: 180%;
    color: var(--light-gray);
}

/* Info section */

.info{
    height: 75vh;
    width: 100%;
}

.info .left-container{
    height: 100%;
    width:25%;
    float:left;
    background-color: #E9E9E9;
    position: relative;
}
.info .left-container img{
    height: 75%;
    width: auto;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(50%, -50%);
}

.info .right-container{
    width: 75%;
    height: 100%;
    float: right;
    position: relative;
    background-image: url("img/Transparency\ Layer.png"), url("img/Background-1.jpg");
    background-position: center;
    background-size: cover;
}

.info .right-container::after{
    clear:both;
}

.info h2{
    margin-top: 55px;
    margin-left: 100px;
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.info h2 span{
    color: var(--pistachio-green);
}

.info p{
    width: 55%;
    margin:20px 0;
    margin-left: 100px;
    color: white;
    font-weight: 200;

}

.info ul{
    margin-left: 100px;
    list-style: none;
    color: white;
    text-transform: capitalize;
    font-weight: 200;
}
.info ul li{
    margin-bottom: 7px;
}
.info ul i{
    font-size: 30px;
    
    margin-right: 20px;
}

.info button{
    margin-top: 25px;
    margin-left: 100px;
}

/* Last Project Section */

.last-project{
    height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

.last-project h2{
    margin: 80px auto 10px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.last-project p{
    margin: 30px 0;
    font-size: 20px;
    color: var(--light-gray);
}
.last-project .container{
    float:left;
    width: 50%;
    height: 70%;
    padding-left: 100px;
    text-align: left;
}
.last-project h3{
    margin: 20px 0;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.last-project .container p{
    font-size: 16px;
}
.last-project ul{
    list-style: none;
}
.last-project ul div{
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    padding: 5px;
    margin-right: 10px;
    border: 3px solid black;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
}
.last-project ul img{
    width: 40px;
    height: 40px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  
.last-project ul li{
    margin: 10px 0;
    font-size: 16px;
    color: var(--light-gray);
}
.last-project ul span{
    display: inline-block;
    vertical-align: middle;
}

.last-project ul h4{
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.last-project button{
    position: relative;
    top:0;
    left:0;
    padding: 15px 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--pistachio-green);
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    transition-duration: 300ms;
}
.last-project button:hover{
    left:3%;
    padding: 15px 10px;
    border-radius: 30px;
    background-color: var(--pistachio-green);
    color: white;
    cursor: pointer;
}

.last-project .bg-container{
    float: right;
    width: 45%;
    height:80%;
    overflow: hidden;

}
.last-project .bg-container img{
    width: 120%;
}
.last-project .bg-container::after{
    clear: both;
}
/* Culture Section */
.culture{
    /* height: 70vh; */
    padding-top: 80px;
    width: 100%;
    background-color: whitesmoke;
    position: relative;
}
.culture h2{
    margin: 0 auto 10px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.culture p{
    margin: 15px auto;
    font-size: 20px;
    color: var(--light-gray);
    text-align: center;
}
.culture .tile{
    width: 33%;
    display: inline-block;
       padding: 5%;
    text-align: center;
}
.culture .tile h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;;
}
.culture .tile p{
    font-size: 14px;
    color: var(--light-gray);

}
.culture .tile div{
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 5px solid var(--light-gray);
    border-radius: 50%;
    position: relative;
}
.culture .tile img{
    width: 45px;
    height:45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    
}
.culture .line{
    position: absolute;
    top: 55%;
    left: 33%;
    transform: translateX(-50%);
    width: 20%;
    border-bottom: 4px solid var(--light-gray);
    border-radius: 4px;
    z-index: 100;
}
.culture .line:nth-of-type(2){
    
    left: 66%;
    transform: translateX(-50%);
}

/* Contact section */
.contact{
    width: 100%;
    padding: 40px;
    text-align: center;
    background-color: var(--pistachio-green);
    color: white;
}
.contact h2{
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}
.contact button{
    padding: 10px 20px;
    outline: none;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--pistachio-green);
    color: white;
    text-transform: uppercase;
}

.contact button:hover{
    cursor: pointer;
    background-color: white;
    color: var(--pistachio-green)
}

/*Sponsor section */
.sponsor{
    padding: 40px;
    text-align: center;
}

.sponsor img{
    margin: 10px 25px;
}
/* Media Queries */
@media (max-width: 1200px) { 
    .last-project .container{
        width: 60%;
    }
    .last-project .bg-container{
        width:40%;
    }
    .last-project ul div{
        width: 50px;
        height: 50px;
        padding: 3px;
    }
    .last-project ul img{
        width: 25px;
        height:25px;
    }
    
    .last-project ul li{
        font-size: 14px;
    }
    .last-project ul h4{
        font-size: 16px;
    }
}

@media (max-width: 992px) {
    nav i.fa-bars{
        display:inline-block;
    }
    nav ul{
        display:none;
    }

    .info h2{
        font-size: 35px;
    }
    .info button{
        width: 180px;
        height: 55px;
    }

    .services{
        height: auto;
    }
    
    .services h2{
        font-size: 35px;
    }
    .services p{
        font-size: 18px;
    }
    .services .tile{
        width: 49%;
        padding: 10px;
    }
    .services .tile h3{
        font-size: 16px;
    }
    .services .tile p{
        font-size: 13px;
        line-height: 150%;
    }
    .last-project h2{
        margin-top: 25px;
        margin-bottom: 0;
        font-size: 30px;
    }
    .last-project p{
        margin: 15px 0;
        font-size: 16px;
    }
    .last-project h3{
        margin: 10px 0;
    }
    .last-project .container p{
        font-size: 14px;
    }
    .last-project ul li{
        text-align: center;
    }
    .last-project ul span{
        width: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .last-project .bg-container img{
        width: 200%;
    }
}

@media (max-width: 768px) {
    .info h2{
        margin-left: 60px;
        margin-top: 45px;
        font-size: 30px;
    }
    .info p, .info ul{
        margin-left: 60px;
        font-size: 15px;
    }
    .info ul i{
        font-size: 25px;
    }
    .info button{
        margin-left: 60px;
        margin-top: 15px;
        width: 160px;
        height: 45px;
    }
    .last-project h2{
        margin-top: 15px;
        font-size: 30px;
    }
    .last-project p{
        margin: 10px 0;
        font-size: 15px;
    }
    .last-project .container{
        width: 100%;
        padding: 0 50px;
    }
    .last-project .bg-container{
        display: none;
    }
    .last-project button:hover{
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 576px) {
    header h1{
        font-size: 50px;
    }
    header  p{
        font-size: 16px;
    }
    
    .services{
        height: auto;
        padding-bottom: 30px;;
    }

    .services h2{
        font-size: 30px;
    }

    .services .tile{
        width: 100%;
        padding: 10px;
    }

}
